<div class="cards">
  <div class="card longestCard marginTop10px marginBottom10px">
    <video controls>
      <source src="https://fake.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="card displayInlineBlock marginRight10px">
    <video controls>
      <source src="https://fake.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="card displayInlineBlock marginRight10px">
    <video controls>
      <source src="https://fake.mp4" type="video/mp4" />
    </video>
  </div>
</div>
